#title, #description{
  margin: 0 auto;
  width: 30vw
}
#survey-form{
  margin: 0 auto;
  width: 50vw;
  border: 1px black;
  background-color: white;
  height: 90vh;
  padding: 15px;
  align-items: center;
}

body{
  background-color: lightblue;
  text-align: center;


}

.labels {
	display: inline-block;
	text-align: right;
	vertical-align: top;


}
.input {
	display: inline-block;
	text-align: left;
	vertical-align: middle;

}